$branco: #FFFFFF;
$azul-titulo-curso: #00489A;
$preto-descrição-curso: #001834;
$azul-datavalor-curso: #00244D;
$preto-dados-curso: #001834;

$azul-escuro: #001834;
$azul-footer: #014898;
$azul-botao: #2A549F;

$cinza: #EDEDED80;
$cinza-claro: #F8F8F8F8